__pycache__/
*.out
gnn_test_string_*_*/
new_train_valid_index_json/
data/9606.protein.actions.all_connected.txt
data/
# match all .ipynb_checkpoints folders
**/ipynb_checkpoints/
*.ipynb
/wandb/
test.py
*.log
*ipynb_checkpoints/
esm_1b/